<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peak.mixen" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/mixen_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateMixen"
            android:label="@string/title_activity_create_mixen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MixenPlayer"
            android:label="@string/title_activity_mixen_stage"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchSongs"
            android:label="@string/title_activity_search_songs"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MoreInfo"
            android:label="@string/title_activity_more_info"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
